*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Sem02/AppPromedio/nbproject/private/
/Sem02/AppPromedio/build/
/Sem02/AppPromedio/dist/
/Sem03/MateApp/nbproject/private/
/Sem03/MateApp/build/
/Sem04/AprendiendoArreglos/nbproject/private/
/Sem04/AprendiendoArreglos/build/
/Sem04/PestamoApp/nbproject/private/
/Sem04/PestamoApp/build/
/Sem04/PestamoApp/dist/